# Ignore these files:
*

# But not these files ...
!Mats4Tcov/
!README.txt
!covall
!cov.awk
!cover
!covs
!gcovs
!Makefile
!tcov_for_left_LU.c
!tcov_for_update.c
!tcov_malloc_test.c
!tcov_malloc_test.h
