# Ignore these files:
*.out
cov.sort
*.gcda
*.gcno
*.o
*.gcov
tcov_for_left_LU
tcov_for_update
LU_update_demo
spexlu_demo
demos.c
LU_update_demo.c
spexlu_demo.c
simple_rand.c
SPEX_calloc.c
spex_cast_array.c
spex_cast_matrix.c
SPEX_check_solution.c
SPEX_create_default_options.c
spex_create_mpfr_array.c
spex_create_mpq_array.c
spex_create_mpz_array.c
spex_CSC_mpz_to_dynamic.c
SPEX_cumsum.c
spex_delete_mpz_array.c
SPEX_determine_symmetry.c
spex_dynamic_to_CSC_mpz.c
spex_expand_double_array.c
spex_expand_mpfr_array.c
spex_expand_mpq_array.c
SPEX_finalize.c
SPEX_free.c
SPEX_gmp.c
SPEX_initialize.c
SPEX_initialize_expert.c
SPEX_Left_LU_backslash.c
spex_left_lu_back_sub.c
spex_left_lu_dfs.c
SPEX_Left_LU_factorize.c
spex_left_lu_forward_sub.c
spex_left_lu_get_largest_pivot.c
spex_left_lu_get_nonzero_pivot.c
spex_left_lu_get_pivot.c
spex_left_lu_get_smallest_pivot.c
spex_left_lu_permute_b.c
spex_left_lu_permute_x.c
spex_left_lu_reach.c
spex_left_lu_ref_triangular_solve.c
SPEX_Left_LU_solve.c
SPEX_LU_analysis_free.c
SPEX_LU_analyze.c
SPEX_malloc.c
SPEX_matrix_allocate.c
SPEX_matrix_check.c
SPEX_matrix_copy.c
SPEX_matrix_div.c
SPEX_matrix_free.c
SPEX_matrix_mul.c
SPEX_matrix_nnz.c
SPEX_realloc.c
spex_sparse_collapse.c
spex_sparse_realloc.c
SPEX_transpose.c
spex_update_backward_sub.c
SPEX_Update_Chol_Rank1.c
spex_update_cppu.c
spex_update_dppu1.c
spex_update_dppu2.c
spex_update_finalize_and_insert_vk.c
spex_update_forward_sub.c
spex_update_get_scattered_v.c
spex_update_insert_new_entry.c
spex_update_ipge.c
SPEX_Update_LU_ColRep.c
SPEX_Update_matrix_canonicalize.c
SPEX_Update_permute_row.c
SPEX_Update_Solve.c
spex_update_triangular_solve.c
spex_update_verify.c
SPEX_vector_allocate.c
SPEX_vector_free.c
SPEX_vector_realloc.c
